.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 2px;
    background-color: rgb(226, 238, 238);
}



.nav{
    display: flex;
    gap: 20px;
}

.heading{
    font-size: 50px;
}


button{
    width: 60px;
    height: 50px;
    border-radius: 20px;
}

button:hover{
    background-color: rgb(243, 20, 20);
    color: white;
    cursor: pointer;
}